[run]
branch = True
source = .
omit =
    .tox/*
    /usr/*
    setup.py
    # Don't complain if non-runnable code isn't run
    */__main__.py
    pre_commit/color_windows.py
    pre_commit/resources/*

[report]
show_missing = True
skip_covered = True
exclude_lines =
    # Have to re-enable the standard pragma
    \#\s*pragma: no cover
    # We optionally substitute this
    ${COVERAGE_IGNORE_WINDOWS}

    # Don't complain if tests don't hit defensive assertion code:
    ^\s*raise AssertionError\b
    ^\s*raise NotImplementedError\b
    ^\s*return NotImplemented\b
    ^\s*raise$

    # Ignore typing-related things
    ^if (False|TYPE_CHECKING):
    : \.\.\.$

    # Don't complain if non-runnable code isn't run:
    ^if __name__ == ['"]__main__['"]:$

[html]
directory = coverage-html

# vim:ft=dosini
