name: main

on:
  push:
    branches: [main, test-me-*]
    tags: '*'
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  main-windows:
    uses: asottile/workflows/.github/workflows/tox.yml@v1.8.1
    with:
      env: '["py39"]'
      os: windows-latest
  main-linux:
    uses: asottile/workflows/.github/workflows/tox.yml@v1.8.1
    with:
      env: '["py39", "py310", "py311", "py312"]'
      os: ubuntu-latest
